h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    background: #4a8830;
    padding: 10px;
    margin-bottom: 30px;
}

h5 {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 10px;
    padding: 10px;
}

form {
    display: block;
    text-align: center;
}

input.reset, input.submit {
    height: 40px;
    width: 150px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}